@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family:'rajdhani';
    src: url(../POLICE/Rajdhani-Medium.ttf);
}

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #FFFFFF;
    --gradient-white: #eddebf67;
    --gradient-red: #89000978;
    --black-color: #000;
    --grey-color: #c4c4c4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: var(--black-color);
    color: white;
    font-family: 'Space Grotesk', sans empattement ;
    font-weight: 300;
    background-image: url(../Illustrations/Bathome12.png);
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: 1000px 3090px;
}

h1{
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 36px;
    font-weight: 400; 
}

.up-bar{
    border-top: 4px solid #BCBBBD;
    opacity: 50%;
    position: relative;
    top: 132px;
    left: 127px;
    width: 83%;
}

.left-bar{
    height: 8000px;
    position: absolute;
    left: 85%;
    border-left: 3px solid #BCBBBD;
    opacity: 20%;
    margin-left: 102px;
}

.right-bar{
    height: 8000px;
    position: absolute;
    right: 85%;
    border-right: 3px solid #BCBBBD;
    opacity: 20%;
    margin-right: 102px;
}

/*Design de la navigation*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

ul{
    list-style: none;
}

nav ul a{
    color: var(--white-color);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Rajdhani', sans empattement ;
}

nav ul a:hover{
    color: var(--yellow-color);
}

.logo:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
            filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
}

/*Design de la partie HERO*/

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-color:black;
    background-size: cover;
    height: 1000px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 380px;
}
#hero .titre {
    margin: 40px;
}

#hero .texte{
    text-align: center;
    margin: 0 auto;
    width: 85%;
    font-size: 20px;
    /*word-spacing: 3px;
    letter-spacing: 1px;*/
}

.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    padding: 20px 30px;
    margin: 20px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    opacity: 40%;
    /*box-shadow: var(--black-color) 15px 15px 40px;*/
    letter-spacing: 2px;
    word-spacing: 6px;
}
   
.btn:hover{
    text-decoration:underline;
    font-weight: bold;
    opacity: 100%;
}

.cta{
    margin-top: 40px;
}
#hero .fleche {
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 72px;
    top: 200px;
}

.social:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
    filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
}
.scroll .social {
    margin-top: 30px;
}

/*Design de la section personnage*/
.batman-personnage, .nemesis-personnage, .alliée-personnage{
    display:flex;
    
    justify-content: space-between;
    width: 91%;
    padding-left: 50px;
    padding-bottom: 2cm;
}

#justiceleague{
    position: relative;

}

#justiceleague .image-justiceleague{
   position: absolute;
}
.zoom:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.titre{
    margin: 60px 60px;
    font-size: 36px;
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
}

.description {
    margin-bottom: 70px;
    text-align: justify;
    letter-spacing: normal;
    width: 85%;
    font-size: 22px;
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
    padding-left: 50px;
}

.personnage-info {
    text-align: center;
    padding: 20px;
}

#nemesis .titre{
    background-image: url(../Illustrations/Bathome13.png);
    background-size: 60%;
    background-position: top right;
    height: 4cm;
    background-repeat: no-repeat;
    width: 250px;
    padding-top: 90px;
}

/*design de la partie multimedia*/

#multimedia .slider-multumedia{
    display: flex;
    margin-left: 10cm;
    margin-bottom: 40px;
}

#multimedia .slider-image{
    display: contents;
}

#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(158deg, rgb(144, 137, 125) 0%, rgb(87, 90, 92) 60%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 45%;
}
#multimedia .slider-content h1, h2{
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
}

#multimedia p{
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
    font-size: 12px;
}

#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia button.right{
    right: -85%;
}

#multimedia button.left{
    left: 10%;
}

#multimedia .yellow{
    color: var(--yellow-color);
}

#multimedia .image-bande-annonce{
    text-align: center;
    padding-bottom: 40px;
}

#multimedia{
    padding-top: 18cm ;
}

/*design de la partie formulaire*/

#contact{
    background-color: rgba(54, 51, 51, 0.693);
    padding: 70px 0;
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
    font-size: 18px;
}

#contact .form{
    width: 50%;
    margin: 0 auto;
    position: relative;
}
#contact .form .line{
    line-height: 10px;
}
#contact h2{
    text-align: center;
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 35px;
    padding-bottom: 40px;

}

#contact .titre{
    display: block;
    margin: 10px 0;
}

#contact .form input[type="email"], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: 2px solid var(--grey-color);
    background-color: transparent;
    padding: 10px 0;
    margin-bottom: 2cm;
}

#contact .form .icon img {
    transform: rotate(90deg);
    width: 22px;
    float: right;
}

#contact .news, .choix {
    margin: 20px 0;
    border-bottom: 2px solid var(--grey-color);
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

::placeholder{
    color: rgb(65, 146, 129);
    font-size: 15px;
}

.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form input[type="radio"]{
    opacity: 0;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 5px;
    border-image: linear-gradient(
        69deg, rgb(152, 140, 140), rgb(82, 82, 144)
    ) 1;
    opacity: 40%;
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
    font-size: 18px;
}
.btn-group:hover{
    opacity: 100%;
}

/*input[type="submit"]{
    display: block;
    width: 230px;
    margin: 70px auto;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 15px;
    color: white;
}*/
.pop a{
    text-decoration: none;
    display: block;
    width: 230px;
    text-align: center;
    margin: 70px auto;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 15px;
    color: white;
}

.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 20cm;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal:target{
    visibility: visible;
    opacity: 1;
}

.modalcontent{
    background-color: rgba(54, 63, 92, 0.945);
    text-align: center;
    padding: 70px;
    width: 500px;
    max-width: 80%;
    border-radius: 4px;
    position: relative;
}
.modalclose{
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--white-color);

}

#contact .choix{
    position: relative;
}
.submenu{
    display: none;
    background-color: #424558;
}

.icon:hover  .submenu{
    display: inline-block;
    position: absolute;
    transition: all 0.3s ease;
    top:100%;
    right: 0px;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li{
    border-bottom:1px solid #BCBBBD;
    padding: 10px;
   
}
/*design citation*/

#citations {
    margin: 90px;
}

#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-text{
    font-size: 20px;
    padding-top: 30px;
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
}

#citations .citation-auteur{
    font-size: 12px;
    padding-top: 30px;
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
}

#citations .guillemet-close{
    float: right;
}

/*design du footer*/

footer .text-footer{
    text-align: center;
    font-size: 12px;
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
}

footer .social-footer{
    text-align: center;
    margin: 40px 0;
}

footer .social-item{
    padding: 15px;  
}
