@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family:'rajdhani';
    src: url(../POLICE/Rajdhani-Medium.ttf);
}

:root{
    --yellow-color: #FFFF00;
    --yellow-light: #f8f184;
    --blue-color: #19587d;
    --white-color: #FFFFFF;
    --gradient-white: #eddebf67;
    --gradient-red: #89000978;
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 36px;
    font-weight: 400; 
}

h2{
    font-family: url(../POLICE/SpaceGrotesk-Bold.ttf);
    font-size: 12px;
}

button{
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 20px;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body{
    background-color: var(--black-color);
    color: white;
    font-family: 'Space Grotesk', sans empattement ;
    font-weight: 300;
    background-image: url(../Illustrations/Bathome12.png);
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: 1000px 3110px;
}

.up-bar{
    border-top: 4px solid var(--white-color);
    opacity: 50%;
    position: relative;
    top: 180px;
    left: 115px;
    width: 85%; 
}

.left-bar{
    height: 8000px;
    position: absolute;
    left: 85%;
    border-left: 3px solid var(--white-color);
    opacity: 20%;
    margin-left: 114px;
}

.right-bar{
    height: 8000px;
    position: absolute;
    right: 85%;
    border-right: 3px solid var(--white-color);
    opacity: 20%;
    margin-right: 114px;
}

/*Design de la navigation*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
}

ul{
    list-style: none;
}

nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rajdhani', sans empattement ;
    margin-left: 3cm;
}

nav ul a:hover{
    color: var(--yellow-color);
}

.logo:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
            filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
}

/*Design de la partie HERO*/

#hero {
    background-image: url(../Illustrations/Bathome1.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-color:black;
    background-size: cover;
    height: 1000px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 380px;
}
#hero .titre {
    margin: 40px;
}

#hero .texte{
    text-align: center;
    margin: 0 auto;
    width: 85%;
    font-size: 20px;
    /*word-spacing: 3px;
    letter-spacing: 1px;*/
}

.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    padding: 20px 30px;
    margin: 20px;
    margin-top: 10px;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    opacity: 40%;
    /*box-shadow: var(--black-color) 15px 15px 40px;*/
    letter-spacing: 2px;
    word-spacing: 6px;
}
   
.btn:hover{
    text-decoration:underline;
    font-weight: bold;
    opacity: 100%;
}

.cta{
    margin-top: 40px;
}
#hero .fleche {
    display: block;
    margin: 0 auto;
    margin-top: 250px;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 60px;
    top: 200px;
}

.social:hover{
    -webkit-filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
    filter: invert(4%) sepia(100%) saturate(6066%) hue-rotate(360deg) brightness(104%) contrast(101%);
}
.scroll .social {
    margin-top: 30px;
}

/*Design de la section personnage*/
.batman-personnage, .nemesis-personnage, .alliée-personnage{
    display:flex;
    justify-content:space-between;
    width: 91%;
    padding-left: 50px;
    padding-bottom: 3cm;
}

#justiceleague .image-justiceleague{
   position: absolute;
}

.titre{
    margin: 60px 60px;
    font-size: 36px;
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
}

.description {
    margin-bottom: 70px;
    text-align: justify;
    letter-spacing: normal;
    width: 85%;
    font-size: 22px;
    font-family: url(../POLICE/SpaceGrotesk-Regular.ttf);
    padding-left: 50px;
}

.personnage-info {
    text-align: center;
}

#nemesis .titre{
    background-image: url(../Illustrations/Bathome13.png);
    background-size: 60%;
    background-position: top right;
    height: 4cm;
    background-repeat: no-repeat;
    width: 250px;
    padding-top: 80px;
}

/*design de la partie multimedia*/

#multimedia .slider-multumedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}

#multimedia .slider-image{
    width: 100%;
}

#multimedia .slider-content{
    padding: 15px;
    background: linear-gradient(158deg, rgb(144, 137, 125) 0%, rgb(87, 90, 92) 60%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#multimedia p{
    font-size: 11px;
}

#multimedia button{
    position: relative;
    top: 155px;
    background: none;
    border: none;
}

#multimedia button.right{
    right: -85%;
}

#multimedia button.left{
    left: 5%;
}

#multimedia .yellow{
    color: var(--yellow-color);
}

#multimedia .image-bande-annonce{
    text-align: center;

}

/*design de la partie formulaire*/

#contact{
    background-color: rgba(54, 51, 51, 0.693);
    padding: 70px 0;
}

#contact .form{
    width: 50%;
    margin: 0 auto;
}

#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

#contact .titre{
    display: block;
    margin: 28px 0;
}

#contact .form input[type="email"], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgb(70, 67, 67);
    background-color: transparent;
    padding: 10px 0;
}

#contact .form .icon img {
    transform: rotate(90deg);
    width: 20px;
}

#contact .news {
    margin: 15px 0;
    border-bottom: 2px solid rgb(70, 67, 67);
}

::placeholder{
    color: rgb(65, 146, 129);
    font-size: 15px;
}

.btn-group{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.form input[type="radio"]{
    opacity: 0;
}

.btn-group label{
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    border-image: linear-gradient(
        69deg, rgb(152, 140, 140), rgb(82, 82, 144)
    ) 1;
    font-size: 15px;
}

input[type="submit"]{
    display: block;
    width: 230px;
    margin: 25px auto;
    padding: 15px 0;
    cursor: pointer;
    background: linear-gradient(
        80deg,var(--gradient-white),var(--gradient-red)
    );
    font-family: url(../POLICE/Rajdhani-Medium.ttf);
    font-size: 15px;
    color: white;
}

/*design citation*/

#citations {
    margin: 90px;
}

#citations .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#citations .citation-auteur{
    font-size: 15px;
    padding-top: 30px;
    font-family: 'rajdhani';
}

#citations .guillemet-close{
    float: right;
}

/*design du footer*/
footer{
    margin-top: 162px;
}

footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: 50px 0;
}

footer .social-item{
    padding: 15px;  
}
